# INFO-H-600-Computing foundations of data scienes
## TP1-Introduction to python: Values, Variables, types, expressions, .....

### Author: Kubam Ivo
### Date: 10/1/2020

#### Ex.1 Enter the following expressions in the interpreter and look at the result:

In [5]:
5, 5+1

(5, 6)

In [7]:
x = 5

In [8]:
x+1

6

In [11]:
x = x + 1

In [12]:
x

7

#### Ex.2 Use the interpreter to print the following texts:

In [16]:
# Ex. 2
print('Hello World')

Hello World

In [22]:
print("Aujourd'hui")

Aujourd'hui

In [25]:
print('''C'est "Dommage !''')

C'est "Dommage !

In [26]:
print('Hum \o/')

Hum \o/

#### Ex.3. Evaluate (by hand) the following expressions and try to guess the type of result expected (in mathematics and in Python). Then try to execute them with the interpreter to check your answers:

In [27]:
14-14

0

In [28]:
1 + 6.9

7.9

In [29]:
1.0 + 2.0

3.0

In [30]:
18/(7 + 1)

2.25

In [35]:
((3+2)*2.5)/(4*2)

1.5625

In [37]:
3**(-1/2)

0.5773502691896257

In [38]:
0*0.0

0.0

#### Ex.4. Some of the following lines contain errors. These can be syntax errors or semantic errors. For each of them, briefly explain the kind of error expected. Check your answers with the interpreter.

In [41]:
# print(''Bonjour')  ' should be enclosed by "
print("'Bonjour'")

'Bonjour'

In [44]:
# 'bla' * 3.0 string can't be multiplied with float
'bla' * 3

'blablabla'

In [45]:
# ((1 + 4)/(6 * 2) number of opening brackets should match closing brackets

((1 + 4)/(6 * 2) )

0.4166666666666667

In [48]:
# int(''14'') # Can't convert a string with literals into integer
int('14')

14

In [52]:
# int('3 + 4i') can't do calculation on expressions with strings mixed with integers
int(3 + 4)

7

In [53]:
'3 * 3 = ' * 3 ** 2

'3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = 3 * 3 = '

In [55]:
# 3 + 2 / 0 + 2 BODMAS. Tries to do 2/0 which lead to an error
(3 + 2)/(0 + 2)

2.5

In [56]:
# print('Il y a' + 31 + 'jours en janvier') single codes in sentences should be encapsulated by double codes
print("Il y a' + 31 + 'jours en janvier'")

Il y a' + 31 + 'jours en janvier'

#### Ex.5. Suppose two variables : a, b. How could you proceed to swap the values of these two variables. For instance, if a and b have the values a = 1, b = 2, how could you obtain 2 1 on the screen by typing print(a, b) ?

In [61]:
a = 1; b = 2
c = a ; a = b; b = c
print(a, b)

2 1

#### Ex.6 Resolve the following problem using the interpreter: the volume of a sphere of radius r is given by 4 3Ï€r3. What is the volume of a sphere of radius 5 ? (Note that 392.6 is not the correct answer!)

In [63]:
r = 5 
pi = 3.14
(4/3)*pi*r**3

523.3333333333334

#### Ex.7 Solve the following problems using the interpreter:

##### 7.1 The price of a book is of $\$24.95$ but you have a discount of 40 \%. The shipping costs for the first book is of $3 and of 75 cents for each additional book. What is the total cost for 60 books ?

In [91]:
book_price = 24.95; discount = 0.4; first_ship_cost = 3; extra_ship_cost = 75; qty = 60
total_cost = book_price * discount * qty
total_cost = total_cost + first_ship_cost
total_cost = total_cost + (qty-1)*extra_ship_cost
print('Total cost will be $',total_cost)
# N.B Defining a function is the most appropriate way but see function later

Total cost will be $ 5026.8

##### 7.2 You travel 10 km in 43 min and 30s. What is your average time per mile ? What is your average speed in miles per hour ? (1.61km = 1 mile)

In [88]:
distance_km = 10; time_min = 43.5
distance_mile = distance_km/1.61
avg_time_per_mile = time_min / distance_mile
time_hour = 43.5/60
print('Average time in minutes per mile is ', time_hour)
avg_speed_per_mile = distance_mile/time_hour
print('Average speed in miles per hour is ', avg_speed_per_mile)

Average time in minutes per mile is  0.725
Average speed in miles per hour is  8.567144998929106

##### 7.3 Suppose that the average walking speed is of 8 minutes and 15 seconds per kilometer. An higher speed is of 7 minutes and 12 seconds per kilometer. You start at 6h52 and walk one kilometer at average walking speed, followed by 3 kilometers at an higher speed, and then another kilometer at average speed. At what time will you arrive ?

In [4]:
avg_speed_km = 8.25; high_speed_km = 7.2; start_time = 6.87
time_arrive = start_time + (1 * avg_speed_km)
time_arrive = time_arrive + (3 * high_speed_km)
day_arrive = int(time_arrive // 24)
time_arrive = time_arrive % 24 
time_arrive_min = int(time_arrive * 60)
hour_arrive = int(time_arrive_min // 60)
min_arrive = int(time_arrive_min % 60)
print('The arriveal time will be after: ', day_arrive , 'day(s)' ,' at ', hour_arrive , 'h' , min_arrive , 'min')

#print('Arrival time will be after ',int((time_arrive*60)//60),'h',int((time_arrive*60)%60) )

The arriveal time will be after:  1 day(s)  at  12 h 43 min

In [1]:
print("hello world")

hello world